@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Medium.ttf");
}

@font-face {
  font-family: "SatoshiBold";
  src: url("./fonts/Satoshi-Bold.ttf");
}

* {
  scrollbar-color: rgb(66,211,146) transparent;
  scrollbar-width: thin;
}

html {
  background: rgb(243 244 246);
}

html.dark {
  background: rgb(26,26,26);
}

html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 8px;
}
html ::-webkit-scrollbar-track {
  background: #F3F4F6;
}

html.dark ::-webkit-scrollbar {
  width: 8px;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #42d392;
  border-radius: 8px;
}
html.dark ::-webkit-scrollbar-track {
  background: rgb(26,26,26);
}


html.dark 
input,
html.dark select {
  border-radius: 6px;
  background: #1a1a1a;
  color: #c8c8c8;
  border: 1px solid rgb(80,80,80);
  text-align:center;
}

input[type="color"] {
  border: none;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 35px;
  background-color: transparent;
  border: none !important;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid #C4C4C4;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
input[type="color"]::-moz-color-swatch {
  border-radius: 6px;
  border: 1px solid #C4C4C4;
}

.dark summary:not([class*="vue"])::marker {
  color: #42d392;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"] {
  border: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: lightgrey;
  height: 1.65rem;
  width: 3.75rem;
  vertical-align: middle;
  border-radius: 2rem !important;
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.15s linear background;
}
input[type="checkbox"]::before {
  content: "false";
  font-size: 0.6em;
  display: flex;
  align-items:center;
  justify-content:center;
  color: #1A1A1A;
  width: 2.2rem;
  height: 1.2rem;
  background: #F3F4F6;
  border-radius: 1.2rem !important;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  box-shadow: 0px 1px 3px #0003;
  transition: 0.15s linear transform;
  transform: translateX(0rem);
}

input[type="checkbox"]:checked {
  background: #5F8bee;
}
input[type="checkbox"]:checked::before {
  content: "true";
  font-size: 0.6em;
  display: flex;
  align-items:center;
  justify-content:center;
  color: #1A1A1A;
  transform: translateX(1.1rem);
  box-shadow: -2px 0px 10px #2f4c91;
}

.dark input[type="checkbox"] {
  border: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: #3A3A3A;
  height: 1.65rem;
  width: 3.75rem;
  vertical-align: middle;
  border-radius: 2rem !important;
  box-shadow: 0px 1px 3px #0003 inset;
  transition: 0.15s linear background;
  border: 1px solid #5A5A5A;
}
.dark input[type="checkbox"]::before {
  content: "false";
  font-size: 0.6em;
  display: flex;
  align-items:center;
  justify-content:center;
  color: #1A1A1A;
  width: 2.2rem;
  height: 1.2rem;
  background: #F3F4F6;
  border-radius: 1.2rem !important;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  box-shadow: 0px 1px 3px #0003;
  transition: 0.15s linear transform;
  transform: translateX(0rem);
}

.dark input[type="checkbox"]:checked {
  background: #5F8bee;
  border: none;
}
.dark input[type="checkbox"]:checked::before {
  content: "true";
  font-size: 0.6em;
  display: flex;
  align-items:center;
  justify-content:center;
  color: #1A1A1A;
  transform: translateX(1.1rem);
  box-shadow: -2px -2px 10px #2f4c91;
}